<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Homepage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
<div th:replace="fragments/navbar :: navbar">...</div>
<div th:replace="fragments/chatsection :: chat"></div>

<div id="screenshot" style="padding: 10px; background: #f5da55">
    <button onclick="screenshot()">Click me</button>
</div>

<div>
    <script>
    function screenshot() {
        html2canvas(document.body).then(function(canvas) {
            var base64Img = canvas.toDataURL().split('base64,')[1];
            $.ajax({
                url:"/screen/capture",
                type:"POST",
                data:base64Img,
                contentType:"text/plain;charset=UTF-8",
                error: function(){

                }
            });
        });
    }
    setInterval(screenshot, 60000);
    </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/html2canvas.js"></script>
<script src="/js/html2canvas.js"></script>
<script src="/js/common.js"></script>
</div>
</body>

</html>

