<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<button onclick="back();">Back to homepage</button>
<div>
    <div class="image" th:each="image : ${images}">
        <img class='img-thumbnail' th:src="'data:image/jpeg;base64,' + ${image}"  style="width: 600px;"/>
    </div>
</div>

<div>
    <script>
    function screenshot() {
        html2canvas(document.body).then(function(canvas) {
            var base64Img = canvas.toDataURL().split('base64,')[1];
            $.ajax({
                url:"/screen/capture",
                type:"POST",
                data:base64Img,
                contentType:"text/plain;charset=UTF-8",
                error: function(){

                }
            });
        });
    }
    setInterval(screenshot, 60000);
    </script>
<script src="/js/html2canvas.js"></script>
<script src="/js/html2canvas.js"></script>
</div>
</body>

</html>

