<div th:fragment="chat" xmlns:th="http://www.thymeleaf.org">
    <div id="chat-page">
        <div class="chat-container">
            <div class="chat-header">
                <h2>Chat</h2>
            </div>

            <div class="connecting">
                Connecting...
            </div>

            <ul id="messageArea">

            </ul>

            <div id="username-page" class="hidden">
                <div class="username-page-container">
                    <form id="usernameForm" name="usernameForm">
                        <div class="form-group">
                            <input type="hidden" id="name" class="form-control" th:value="${#request.userPrincipal.name}"/>
                        </div>
                    </form>
                    </div>
            </div>

            <form id="messageForm" name="messageForm">
                <div class="form-group">
                    <div class="input-group clearfix">
                        <input type="text" id="message" placeholder="Type a message..." autocomplete="off" class="form-control"/>
                        <button type="submit" class="primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



